#container {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

#foodList {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 0;
    flex-wrap: wrap;
}

li {
    border: solid 2px #e7e7e7;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

h2 {
    align-self: center;
    font-size: 24px;
}

img {
    width: 250px;
}

#sidebar {
    width: 400px;
    background-color: #e7e7e7;
}

#sidebar ul {
    padding: 15px;
}

#sidebar li {
    padding: 5px;
}